body {
  background: #333;
  font-family: "Aclonica", sans-serif;
  color: white;
}

#wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu {
  position: fixed;
  border: solid;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #111;
}

ul#menu {
  list-style-type: none;
  font-size: 1.5em;
  font-size: 2em;
}

ul#menu li {
  display: inline-block;
  margin: 0 0.5em;
}

h1 {
  text-indent: -9999em;
  height: 76px;
  width: 834px;
}

a {
  color: #c94105;
}

#commitRef {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-family: "Fira Code", "Dank Mono", "Consolas", monospace;
  font-size: 10px;
  opacity: 0.5;
  color: #eee;
}
